.menu {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  max-height: 90svh;
  min-height: 10svh;
  justify-content: center;
  width: 100%;
}

.menu-column {
  height: 100svh;
}

.go-back {
  position: fixed;
  left: 0;
  top: 0;
  padding: 5% 2%;
}

@media (orientation: landscape) {
  .menu-column {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .menu-column {
    flex-direction: column;
  }
}