.timers {
	align-items: center;
	flex-direction: column;
  display: flex;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100% ;
}

.timers-countdown{
	overflow: hidden;
}

@media (orientation: landscape) {
  .intervals {
    height: 60vh;
  }
  .lap {
    height: 20vh;
  }
}

@media (orientation: portrait) {
  .intervals {
    height: 70vh;
  }
  .lap {
    height: 30vh;
  }
}