.timers {
	align-items: center;
	flex-direction: column;
  display: flex;
  height: 70svh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100% ;
}

.timers-countdown{
	overflow: hidden;
}

.icon-small{
  height: 30px;
}

.icon-big {
  height: 60px;
}

@media (orientation: landscape) {
  .intervals {
    height: 60svh;
  }
  .lap {
    height: 20svh;
  }
}

@media (orientation: portrait) {
  .intervals {
    height: 70svh;
  }
  .lap {
    height: 50svh;
  }
}