.current-timer{
	align-items: center;
	height: 35vh;
	display: flex;
  flex-direction: column;
	justify-content: center;
	width: 100%;
	color: #f5f5f5;
}
.current-timer .clock{
	display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 2% 0;
	width: 40%;
	justify-content: center;
}
.current-timer .digits{
	font-size: 10vh;
}

.current-timer .mili-sec{
	color: #e42a2a;
	padding-right: 5%;
}

.current-timer .activity {
	background: transparent;
	border: none;
  color:#f5f5f5;
	font-weight: bold;
	font-size: 6vh;
	outline: none;
	text-transform: uppercase;
  text-align: center;
	width: 100%;
}

.current-timer .next-activity{
	font-size: 3vh;
	margin-bottom: 5%;
}

.current-timer .activity::placeholder {
	color: #f5f5f5;
}

.layout{
width: 100%;
margin-bottom: 5%;
font-size: 2vh;
}
.row{
	display: flex;
}

.col{
	text-align: center;
	width: 33%;
}