.current-timer{
	align-items: center;
	display: flex;
  flex-direction: column;
	width: 100%;
	color: #f5f5f5;
}
.current-timer .clock{
	display: flex;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	justify-content: center;
	padding: 2% 0;
	width: 40%;
}

.current-timer .mili-sec{
	color: #e42a2a;
	padding-right: 5%;
}

.current-timer .activity {
	background: transparent;
	border: none;
  color:#f5f5f5;
	font-weight: bold;
	font-size: 2rem;
	outline: none;
	text-transform: uppercase;
  text-align: center;
	width: 50%;
}

.current-timer .next-activity{
	color: #e42a2a;
}

.current-timer .activity::placeholder {
	color: #f5f5f5;
}

.current-information{
width: 100%;
margin-bottom: 5%;
font-size: 1rem;
}
.row{
	display: flex;
	width: 100%;
}

.col{
	font-size: 1rem;
	text-align: center;
	width: 33%;
}

.current-information .mili-sec{
	color: white;
}
.countdown {
	height: 20svh;
}

@media (orientation: landscape) {
	.current-timer{
		height: 40svh;
	}
	.current-timer .digits{
		font-size: 6rem;
	}
	.current-information .digits{
		font-size: 1rem;
	}
}

@media (orientation: portrait) {
	.current-timer{
		height: 20svh;
	}
	.current-timer .digits{
		font-size: 4.5rem;
	}
	.current-information .digits{
		font-size: 1rem;
	}
}